.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,0.7)), url('../../assets/bg.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    font-size: 2rem;
    text-align: center;
    max-width: 800px;
   
}
.hero-text h2,
.hero-text h3 {
    font-weight: 500;
    line-height: 1.2;
}
.hero-text h1 {
    margin: 30px;
}