.project-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
    gap: 20px; /* Adjust the gap between projects */
  }
  
  .project {
    position: relative;
    cursor: pointer;
  }
  
  .project img {
    width: 100%; /* Adjust the image size */
    height: auto;
    opacity: 0.21; /* Slightly transparent */
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(7, 59, 230);
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#212ea0; /* Adjust the overlay color and opacity */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth transition */
    font-size: 18px;
  }
  
  .project:hover .overlay {
    opacity: 1; /* Show overlay on hover */
  }
  
  .text-above-image {
    position: absolute;
    top: 40%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the text */
    color: rgb(77, 92, 255); /* Text color */
    font-size: 17px; /* Enlarge text size */
    font-weight: 800;
    width: 90%;
    line-height:1.5;
  }
  .text-above-image p {
    color: brown;
    
  }


  /* For mobile screens */
@media screen and (max-width: 768px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr); /* Adjust the number of columns for mobile */
    gap: 10px; /* Adjust the gap between projects for mobile */
  }

  .project img {
    height: auto; /* Reset height to maintain aspect ratio */
  }
  .text-above-image {
    position: absolute;
    top: 40%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the text */
    color: rgb(77, 92, 255); /* Text color */
    font-size: 9px; /* Enlarge text size */
    font-weight: 800;
    width: 90%;
    line-height:1.5;
  }
  .overlay {
    font-size: 11px;
  }
}


