.about > h1, h3{
    text-align: center;
    margin: 1rem 6rem;
}
.about h1 {
    font-size: 3rem;
}
.about > h3 {
    font-size: 2rem;
    font-weight: 400;
}
h2 {
margin: 20px;
font-size: 3rem;
}
.mission{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 4.5rem;
}
.mission-text{
    max-width: 800px;
    font-size: 1.5rem;

}
.image {
display: flex;
flex-direction: column;

}
.image img{
    width: 350px;
    margin-top:1rem;
}