/* .faculty{
    margin: 80px auto;
    padding: 0 80px;
    position: relative;
}
.next-btn, .back-btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 15px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    background: #212ea0;
}
.back-btn {
    right: auto;
    left: 0;
}
.slider{
    overflow: hidden;

}
.slider ul{
    display: flex;
    width: 1035%;
    overflow-x: hidden;
    transition: transform 0.5s ease;
}
.slider ul li{
    list-style: none;
    width: 50%;
    padding: 20px;
}
.slide {
    box-shadow: 0 0 20px rgba(122, 16, 236, 0.75);
    padding: 40px;
    border-radius: 10px;
    color: #2e2ef8;
    line-height: 1.4;
   
}

.slide img {
   width: 80px;
   border-radius: 50%;
   margin-right: 10px;
   border: 6px solid #212ea0;
}
.slider ul li:first-child {
    margin-right: auto; 
}

.slider ul li:last-child {
    margin-left: auto; 
}
.user-info h3 {
    color:#212ea0;
    width: 100%;
    text-align: left;
   
} */


/* @media (max-width: 800px) {
    .faculty{
        padding: 0 20px;
    }
    .next-btn, .back-btn {
        padding: 5px;
        width: 35px;
    }
    .faculty ul li {
        padding: 5px;
    }
    .slide {
        padding: 5px;
    }
    .slide img {
        width: 30px;
        border: 3px solid #212ea0;
    }
}
@media (max-width: 600px) {
    .user-info {
        display: block;
        margin-bottom: 5px;
        font-size: 9px;
    }
    .user-info h3 {
        font-size: 7px;
        
    }
    .slider p {
        font-size: 9px;
    }
    .slider ul{
        width: 3500%;
    }
} */
/* @media (max-width: 800px) {
    .faculty {
        padding: 0 20px;
    }
    .next-btn, .back-btn {
        padding: 5px;
        width: 35px;
    }
    .slider ul li {
        width: 90%; 
        margin: 0 auto; 
        padding: 10px; 
    }
    .slide {
        padding: 20px;
    }
    .slide img {
        width: 50px; 
        border: 4px solid #212ea0;
    }
}

@media (max-width: 600px) {
    .user-info {
        display: block;
        margin-bottom: 5px;
        font-size: 9px;
    }
    .user-info h3 {
        font-size: 7px;
    }
    .slider p {
        font-size: 9px;
    }
    .slider ul {
        width: 3300%;
    }
} */
